each equip in equipamientos
  li
    .equip_item(id='#{equip._id}')
      a.nombre(href='/equipamientos/#{equip._id}') #{equip.nombre}
      p.ubicacion #{equip.ubicacion}
      p.barrio #{equip.barrio}
