ul
  -if(sesiones.length)
    each sesion in sesiones
      li
        .taller_item(id='#{sesion._id}')
          a.nombre(href='/talleres/#{sesion.actividad_id}/taller/#{sesion._id}') #{sesion.nombre}
          p.fecha #{sesion.fecha.toDateString()}
  -else
    p.vacio No se han creado talleres para este equipamiento

#agregar_sesion
  select(name='taller')
    each taller in talleres
      option(value='#{taller._id}') #{taller.nombre}
  input#fecha(type='text')
  button.submit Agregar Taller
