-var label;
article#consultas
  ul.opciones
    li
      span.mask
      a#talleres-btn(href='#', class="#{recurso == 'talleres' ? 'activo' : '' }") Talleres
    li
      a#equipamientos-btn(href='#', class="#{recurso == 'equipamientos' ? 'activo' : '' }") Equipamientos
    li
      a#participantes-btn(href='#', class="#{recurso == 'participantes' ? 'activo' : '' }") Participantes

  .tabs_container
    .tab_content#talleres(style="#{recurso == 'talleres' ? '' : 'display:none;' }")
      .filtro
        label Equipamiento
        !=partial('partials/select', { name: 'equipamiento_id', options: _equipamientos, label: "-- Seleccionar Equipamiento --" })

      .filtro
        label Comuna
        !=partial('partials/select', { name: 'comuna', options: params.comunas, label: "-- Seleccionar Comuna --" })

      .filtro
        label Creativo
        !=partial('partials/select', { name: 'creativo_cedula', options: creativos, label: "-- Seleccionar Creativo --" })

      .filtro
        label Barrio
        !=partial('partials/select', { name: 'barrio', options: params.barrios, label: "-- Seleccionar Barrio --" })


    .tab_content#equipamientos(style="#{recurso == 'equipamientos' ? '' : 'display:none;' }")
      .filtro
        label Comuna
        !=partial('partials/select', { name: 'comuna', options: params.comunas, label: "-- Seleccionar Comuna --" })

      .filtro
        label Barrio
        !=partial('partials/select', { name: 'barrio', options: params.barrios, label: "-- Seleccionar Barrio --" })

      .filtro
        label Creativo
        !=partial('partials/select', { name: 'creativo', options: creativos, label: "-- Seleccionar Creativo --" })

      .filtro
        label Tipo
        !=partial('partials/select', { name: 'tipo', options: params.tipos, label: "-- Seleccionar Tipo --" })

      .filtro
        label Zonas
        !=partial('partials/select', { name: 'zona', options: params.zonas, label: "-- Seleccionar Zona --" })

    .tab_content#participantes(style="#{recurso == 'participantes' ? '' : 'display:none;' }")
      .filtro
        label Edad
        !=partial('partials/select', { name: 'edad', options: params.edades, label: "-- Seleccionar Edad --" })

      .filtro
        label Barrio
        !=partial('partials/select', { name: 'barrio', options: params.barrios, label: "-- Seleccionar Barrio --" })

      .filtro
        label Estrato
        !=partial('partials/select', { name: 'estrato', options: params.estratos, label: "-- Seleccionar Estrato --" })

      .filtro
        label Comuna
        !=partial('partials/select', { name: 'comuna', options: params.comunas, label: "-- Seleccionar Comuna --" })

    button#buscar Buscar
    
    if(resultado.length)
      .resultado_area
        .resultado_status
          p Se encontraron 
            b #{resultado.length} 
            | #{recurso}
        .resultado
          - var resultados = 'consultas/'+recurso
          !=partial(resultados, { data: resultado })

