- var edit = false
article#equipamiento
  input(type="hidden", id="equipamiento_id", value=#{equipamiento._id})
  header
    .header-content
      label Equipamiento
      p.nombre #{equipamiento.nombre}
    .delete
      a(href='#') Eliminar


  .list_header
    ul
      li
        a.activo#tab-talleres(href="/equipamientos/#{equipamiento._id}", class='#{articulo == 'Taller' ? "activo" : null }') 
          | Talleres
          span.mask
      li
        a#tab-participantes(href="/equipamientos/#{equipamiento._id}/participantes", class='#{articulo == 'Participantes' ? "activo" : null }') 
          | Participantes
          span.mask
      li
        a#tab-general(href="/equipamientos/#{equipamiento._id}/general", class='#{articulo == 'General' ? "activo" : null }') 
          | General
          span.mask
      li
        a#tab-editar.last(href="/equipamientos/#{equipamiento._id}/edit", class='#{articulo == 'Editar' ? "activo" : null }') 
          | Editar Equipamiento
          span.mask

  .list_body
    !=partial('partials/lista_taller_equip', { talleres: talleres })



