- var edit = false
article#equipamiento
  header
    .header-content
      label Equipamiento
      p.nombre #{equipamiento.nombre}

  .list_header
    ul
      li
        a.activo#tab-talleres(href="/equipamientos/#{equipamiento._id}/talleres", class='#{articulo == 'Taller' ? "activo" : null }') 
          | Talleres
          span.mask
      li
        a#tab-participantes(href="/equipamientos/#{equipamiento._id}/participantes", class='#{articulo == 'Participantes' ? "activo" : null }') 
          | Participantes
          span.mask
      li
        a#tab-editar(href="/equipamientos/#{equipamiento._id}/edit", class='#{articulo == 'Editar' ? "activo" : null }') 
          | Editar
          span.mask
      li
        a#tab-general(href="/equipamientos/#{equipamiento._id}/general", class='#{articulo == 'General' ? "activo" : null }') 
          | General
          span.mask

  form
    ul
      li
        .element
          label Nombre:
          input(name="nombre", readonly='readonly', type="text", value=' #{equipamiento.nombre}')

      li
        .element
          label Ubicación:
          input(name="ubicacion", readonly='readonly',type="text",value=' #{equipamiento.ubicacion}')

      li
        .element
          label Comuna:
          input(name="comuna", readonly='readonly',type="text",value='#{equipamiento.comuna}')

      li
        .element
          label Barrio:
          input(name="barrio", readonly='readonly',type="text",value='#{equipamiento.barrio}')

      li
        .element
          label Contacto:
          input(name="contacto", readonly='readonly', id="contacto", type="text",value='#{equipamiento.contacto}')

      li
        .element
          label Email:
          input(name="email", readonly='readonly',  id="email", type="text",value='#{equipamiento.email}')

      li
        .element
          label Telefono:
          input(name="telefono", readonly='readonly',  id="telefono", type="text", value='#{equipamiento.telefono}')

      li
        .element
          label Experiencia:
          input(name="experiencia", readonly='readonly',  id="experiencia", type="text", value='#{equipamiento.experiencia}')

      li
        .element_checkbox_label
          label Otros Talleres:
          .options
            -var i = 0
            each otro in params.otros_talleres
              - if (equipamiento.otros_talleres.indexOf(otro) > -1) { 
                .option(class='#{i%3 == 0 ? "row" : "" }')
                  input(name="otros[]", type="checkbox", value='#{otro}", checked='checked') 
              - } else {
                .option(class='#{i%3 == 0 ? "row" : "" }')
                  input(name="otros[]", type="checkbox", value='#{otro}") 
              -}
                  label.radio_text #{otro}
              -i++

      li
        .element
          label Tipo:
          input(name="tipo", readonly='readonly',  id="tipo", type="text", value='#{equipamiento.tipo}')

      li
        .element_checkbox_label
          label Espacios disponibles:
          .options
            -var i = 0
            each espacio in params.espacios
              - if (equipamiento.espacio.indexOf(espacio) > -1 ) {
                .option
                  input(name="espacios[]", type="checkbox", value='#{espacio}", checked='checked') 
              - } else {
                .option
                  input(name="espacios[]", type="checkbox", value='#{espacio}") 
              - }
                  label.radio_text #{espacio} 
              -i++

      li
        .element
          label Tienen locker?:
          input(name="locker", readonly='readonly',  id="locker", type="text", value='#{equipamiento.locker}')

      li
        .element
          label Baños cerca?:
          input(name="bano", readonly='readonly',  id="bano", type="text", value='#{equipamiento.bano}')

      li
        .element
          label Equipos electrónicos disponibles:
          input(name="equipos", readonly='readonly',  id="equipos", type="text", value='#{equipamiento.equipos}')

      li
        .element
          label Horario:
          input(name="horario", readonly='readonly',  id="horario", type="text" ,value='#{equipamiento.horario}')

      li
        .element_checkbox_label
          label Edades:
          .options
            -var i=0
            each edad in params.edades
              - if (equipamiento.edades.indexOf(edad) > -1 ) {
                .option(class='#{i%3 == 0 ? "row" : "" }')
                input(name="edades[]",type="checkbox",value='#{edad}",checked='checked') 
              - } else {
                .option(class='#{i%3 == 0 ? "row" : "" }')
                input(name="edades[]",type="checkbox",value='#{edad}") 
              -}
                label.radio_text #{edad} 
              -i++

      li
        .element
          label Seguridad:
          input(name="seguridad", readonly='readonly',  id="seguridad", type="text", value=' #{equipamiento.seguridad}')
    
      li
        .element
          label Fronteras invisibles:
          input(name="fronteras", readonly='readonly',  id="fronteras", type="text", value=' #{equipamiento.fronteras}')
      
      li
        .element
          label Zona:
          input(name="zona", readonly='readonly',  id="zona", type="text", value=' #{equipamiento.zona}')
      
      li
        .element
          label C&oacute;mo llegar:
          textarea(name="como_llegar", readonly='readonly', value='#{equipamiento.como_llegar}')

      li
        .element
          label Web:
          input(name="web", readonly='readonly',  type="text", value='#{equipamiento.web}')
      
      li
        .element
          label Facebook:
          input(name="fb", readonly='readonly',  type="text", value='#{equipamiento.fb}')
      
      li
        .element
          label Twitter:
          input(name="twitter", readonly='readonly',  type="text", value='#{equipamiento.twitter}')
      
      li
        .element
          label Blog:
          input(name="blog", readonly='readonly',  type="text" , value='#{equipamiento.blog}')
  
      li
        .element
          label Newsletter:
          input(name="newsletter", readonly='readonly',  id="newsletter", type="text", value='#{equipamiento.newsletter}')

      li
        .element
          label Cartelera:
          input(name="cartelera", readonly='readonly',  id="cartelera", type="text" , value='#{equipamiento.cartelera}')

      li
        .element
          label Tel&eacute;fono Info:
          input(name="telefono_info", readonly='readonly',  id="zona", type="text", value='#{equipamiento.telefono_info}')

      li
        .element
          label Perifon&iacute;a:
          input(name="perifonia", readonly='readonly',  id="zona", type="text", value='#{equipamiento.perifonia}')

      li
        .element
          label Bolet&iacute;n:
          input(name="boletin", readonly='readonly',  id="zona", type="text", value='#{equipamiento.boletin}')

      li
        .element
          label Medios comunitarios:
          input(name="medios_comunit", readonly='readonly',  id="zona", type="text", value='#{equipamiento.medios_comunit}')

      li
        .element
          label E-mailing:
          input(name="emailing", readonly='readonly',  id="zona", type="text", value='#{equipamiento.emailing}')
