-console.log(equipamiento)
article#equipamiento
  input(type="hidden", id="equipamiento_id", value="#{equipamiento._id}")
  header
    .header-content
      label Equipamiento
      p.nombre #{equipamiento.nombre}

  .list_header
    ul
      li
        a#tab-talleres(href="/equipamientos/#{equipamiento._id}") 
          | Talleres
          span.mask
      li
        a#tab-participantes(href="/equipamientos/#{equipamiento._id}/participantes") 
          | Participantes
          span.mask
      li
        a#tab-editar.last(href="/equipamientos/#{equipamiento._id}/edit", class='#{articulo == 'EditarEquipamiento' ? "activo" : null }') 
          | Editar Equipamiento
          span.mask
      li
        a#tab-general(href="/equipamientos/#{equipamiento._id}/general", class='#{articulo == 'General' ? "activo" : null }') 
          | General
          span.mask

  form
    ul
      li
        .element
          label Nombre:
          - if (edit) 
            input(name="nombre", type="text", value='#{equipamiento.nombre}')
          - else
            input(name="nombre", readonly, type="text", value='#{equipamiento.nombre}')
      

      li
        .element
          label Ubicación:
          - if (edit) 
            input(name="ubicacion", type="text", value='#{equipamiento.ubicacion}')
          - else
            input(name="ubicacion", readonly='readonly', type="text", value='#{equipamiento.ubicacion}')

      li
        .element
          label Comuna:
          select(name="comuna")
            option(value='') -- Elegir comuna --
            each comuna in params.comunas
              -if (edit)
                -if (equipamiento.comuna == comuna)
                  option(value='#{comuna}', selected='selected') #{comuna}
                -else
                  option(value='#{comuna}') #{comuna}
              -else
                option(value='#{comuna}') #{comuna}

      li
        .element
          label Barrio:
          select(name="barrio")
            option(value='') -- Elegir barrio --
            each barrio in params.barrios
              -if (edit)
                -if (equipamiento.barrio == barrio)
                  option(value='#{barrio}', selected='selected') #{barrio}
                -else
                  option(value='#{barrio}') #{barrio}
              -else
                option(value='#{barrio}') #{barrio}

      li
        .element
          label Contacto:
          - if (edit) 
            input(name="contacto", id="contacto", type="text",value='#{equipamiento.contacto}')
          - else
            input(name="contacto", readonly='readonly', id="contacto", type="text",value='#{equipamiento.contacto}')

      li
        .element
          label Email:
          - if (edit) 
            input(name="email", id="email", type="text",value='#{equipamiento.email}')
          - else
            input(name="email", readonly='readonly',  id="email", type="text",value='#{equipamiento.email}')

      li
        .element
          label Tel&eacute;fono:
          - if (edit) 
            input(name="telefono", id="telefono", type="text", value='#{equipamiento.telefono}')
          - else
            input(name="telefono", readonly='readonly',  id="telefono", type="text", value='#{equipamiento.telefono}')

      li
        .element
          label Experiencia:
          - if (equipamiento.experiencia == 'Si')
            input(name="experiencia", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="experiencia", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.experiencia == 'No')
            input(name="experiencia", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="experiencia", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="experiencia", type="radio", value="Si" )
            label.radio_sino S&iacute;
            input(name="experiencia", type="radio", value="No" )
            label.radio_sino No

      li
        .element_checkbox_label
          label Otros Talleres:
          .options
            -var i = 0
            each otro in params.otros_talleres
              - if (equipamiento.otros_talleres.indexOf(otro) > -1) { 
                .option(class='#{i%3 == 0 ? "row" : "" }')
                  -if (edit)
                    input(name="otros[]", type="checkbox", value="#{otro}", checked='checked') 
                  -else
                    input(name="otros[]", disabled="disabled", type="checkbox", value="#{otro}", checked='checked') 
              - } else {
                .option(class='#{i%3 == 0 ? "row" : "" }')
                  -if (edit)
                    input(name="otros[]", type="checkbox", value="#{otro}") 
                  -else
                    input(name="otros[]", disabled="disabled", type="checkbox", value="#{otro}") 
              -}
                  label.radio_text #{otro}
              -i++

      li
        .element
          label Tipo:
          select(name="tipo")
            option(value='') -- Elegir tipo equipamiento --
            each tipo in params.tipos
              -if (edit)
                -if (equipamiento.tipo == tipo)
                  option(value='#{tipo}', selected='selected') #{tipo}
                -else
                  option(value='#{tipo}') #{tipo}
              -else
                option(value='#{tipo}') #{tipo}

      li
        .element_checkbox_label
          label Espacios disponibles:
          .options
            -var i = 0
            each espacio in params.espacios
              - if (equipamiento.espacio.indexOf(espacio) > -1 )
                .option
                  -if (edit)
                    input(name="espacios[]", type="checkbox", value="#{espacio}", checked='checked') 
                  -else
                    input(name="espacios[]", disabled="disabled", type="checkbox", value="#{espacio}", checked='checked') 
              - else
                .option
                  -if (edit)
                    input(name="espacios[]", type="checkbox", value="#{espacio}") 
                  -else
                    input(name="espacios[]", disabled="disabled", type="checkbox", value="#{espacio}") 

              label.radio_text #{espacio} 
              -i++

      li
        .element
          label Tienen locker:
          - if (equipamiento.locker == 'Si')
            input(name="locker", id="locker", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="locker", id="locker", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.locker == 'No')
            input(name="locker", id="locker", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="locker", id="locker", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            label Tienen locker:
            input(name="locker", id="locker", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="locker", id="locker", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Baños cerca:
          - if (equipamiento.banos ==  'Si')
            input(name="banos", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="banos", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.banos == 'No')
            input(name="banos", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="banos", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="banos", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="banos", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Equipos electrónicos disponibles:
          - if (edit) 
            input(name="e_equipos", id="equipos", type="text", value='#{equipamiento.e_equipos}')
          - else
            input(name="e_equipos", readonly='readonly',  id="equipos", type="text", value='#{equipamiento.e_equipos}')

      li
        .element
          label Horario:
          - if (edit) 
            input(name="horario", id="horario", type="text" ,value='#{equipamiento.horario}')
          - else
            input(name="horario", readonly='readonly',  id="horario", type="text" ,value='#{equipamiento.horario}')

      li
        .element_checkbox_label
          label Edades:
          .options
            -var i=0
            each edad in params.edades
              - if (equipamiento.edades.indexOf(edad) > -1 ) {
                .option(class='#{i%3 == 0 ? "row" : "" }')
                  -if (edit)
                    input(name="edades[]",type="checkbox",value="#{edad}",checked='checked') 
                  -else
                    input(name="edades[]",disabled="disabled", type="checkbox",value="#{edad}",checked='checked') 
              - } else {
                .option(class='#{i%3 == 0 ? "row" : "" }')
                  -if (edit)
                    input(name="edades[]",type="checkbox",value="#{edad}") 
                  -else
                    input(name="edades[]",disabled="disabled", type="checkbox",value="#{edad}") 
              -}
                  label.radio_text #{edad} 
              -i++

      li
        .element
          label Seguridad:
          - if (equipamiento.seguridad == 'Alta')
            input(name="seguridad", type="radio", value="Alta", checked='checked', disabled='disabled')
            label.radio_text Alta 
            input(name="seguridad", type="radio", value="Media", disabled='disabled')
            label.radio_text Media
            input(name="seguridad", type="radio", value="Baja", disabled='disabled')
            label.radio_text Baja 
          - else if (equipamiento.seguridad == 'Media')
            input(name="seguridad", type="radio", value="Alta", disabled='disabled')
            label.radio_text Alta 
            input(name="seguridad", type="radio", value="Media", checked='checked', disabled='disabled')
            label.radio_text Media
            input(name="seguridad", type="radio", value="Baja", disabled='disabled')
            label.radio_text Baja 
          - else if (equipamiento.seguridad == 'Baja')
            input(name="seguridad", type="radio", value="Alta", disabled='disabled')
            label.radio_text Alta 
            input(name="seguridad", type="radio", value="Media", disabled='disabled')
            label.radio_text Media
            input(name="seguridad", type="radio", value="Baja", checked='checked', disabled='disabled')
            label.radio_text Baja 
          - else
            input(name="seguridad", type="radio", value="Alta", disabled='disabled')
            label.radio_text Alta 
            input(name="seguridad", type="radio", value="Media", disabled='disabled')
            label.radio_text Media
            input(name="seguridad", type="radio", value="Baja", disabled='disabled')
            label.radio_text Baja 

      li
        .element
          label Fronteras invisibles:
          - if (equipamiento.fronteras == 'Si')
            input(name="fronteras", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="fronteras", type="radio", value="No")
            label.radio_sino No
          - else if (equipamiento.fronteras == 'No')
            input(name="fronteras", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="fronteras", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="fronteras", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="fronteras", type="radio", value="No", disabled='disabled')
            label.radio_sino No
      
      li
        .element
          label Zona:
          - if (equipamiento.zona == 'Urbana')
            input(name="zona", type="radio", value="Urbana", checked='checked', disabled='disabled')
            label.radio_text Urbana 
            input(name="zona", type="radio", value="Rural", disabled='disabled')
            label.radio_text Rural
          - else if (equipamiento.zona == 'Rural')
            input(name="zona", type="radio", value="Urbana", disabled='disabled')
            label.radio_text Urbana 
            input(name="zona", type="radio", value="Rural", checked='checked', disabled='disabled')
            label.radio_text Rural
          - else
            input(name="zona", type="radio", value="Urbana", disabled='disabled')
            label.radio_text Urbana 
            input(name="zona", type="radio", value="Rural", disabled='disabled')
            label.radio_text Rural
      
      li
        .element
          label C&oacute;mo llegar:
          - if (edit) 
            textarea(name="como_llegar") #{equipamiento.como_llegar}
          - else
            textarea(name="como_llegar", readonly='readonly') #{equipamiento.como_llegar}

      li
        .element
          label Web:
          - if (edit) 
            input(name="web", type="text", value='#{equipamiento.web}')
          - else
            input(name="web", readonly='readonly',  type="text", value='#{equipamiento.web}')
      
      li
        .element
          label Facebook:
          - if (edit) 
            input(name="fb", type="text", value='#{equipamiento.fb}')
          - else
            input(name="fb", readonly='readonly',  type="text", value='#{equipamiento.fb}')
      
      li
        .element
          label Twitter:
          - if (edit) 
            input(name="twitter", type="text", value='#{equipamiento.twitter}')
          - else
            input(name="twitter", readonly='readonly',  type="text", value='#{equipamiento.twitter}')
      
      li
        .element
          label Blog:
          - if (edit) 
            input(name="blog", type="text" , value='#{equipamiento.blog}')
          - else
            input(name="blog", readonly='readonly',  type="text" , value='#{equipamiento.blog}')
          
      li
        .element
          label Newsletter:
          - if (equipamiento.newsletter == 'Si')
            input(name="newsletter", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="newsletter", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.newsletter == 'No')
            input(name="newsletter", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="newsletter", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="newsletter", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="newsletter", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Cartelera:
          - if (equipamiento.cartelera == 'Si')
            input(name="cartelera", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="cartelera", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.cartelera == 'No')
            input(name="cartelera", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="cartelera", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="cartelera", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="cartelera", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Tel&eacute;fono Info:
          - if (equipamiento.telefono_info == 'Si')
            input(name="telefono_info", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="telefono_info", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if(equipamiento.telefono_info == 'No')
            input(name="telefono_info", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="telefono_info", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="telefono_info", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="telefono_info", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Perifon&iacute;a:
          - if (equipamiento.perifonia == 'Si')
            input(name="perifonia", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="perifonia", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.perifonia == 'No')
            input(name="perifonia", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="perifonia", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="perifonia", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="perifonia", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Bolet&iacute;n:
          - if (equipamiento.boletin == 'Si')
            input(name="boletin", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="boletin", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if(equipamiento.boletin == 'No')
            input(name="boletin", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="boletin", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="boletin", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="boletin", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Medios comunitarios:
          - if (equipamiento.medios_comunit == 'Si')
            input(name="medios_comunit", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="medios_comunit", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.medios_comunit == 'No')
            input(name="medios_comunit", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="medios_comunit", type="radio", value="No", checked='checked')
            label.radio_sino No
          - else
            input(name="medios_comunit", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="medios_comunit", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label E-mailing:
          - if (equipamiento.emailing == 'Si')
            input(name="emailing", type="radio", value="Si", checked='checked', disabled='disabled')
            label.radio_sino S&iacute;
            input(name="emailing", type="radio", value="No", disabled='disabled')
            label.radio_sino No
          - else if (equipamiento.emailing == 'No')
            input(name="emailing", type="radio", value="Si", disabled='disabled')
            label.radio_sino S&iacute;
            input(name="emailing", type="radio", value="No", checked='checked', disabled='disabled')
            label.radio_sino No
          - else
            input(name="emailing", type="radio", value="Si")
            label.radio_sino S&iacute;
            input(name="emailing", type="radio", value="No")
            label.radio_sino No

      li
        .element
          label Observaciones:
          - if (edit)
            textarea(name="observaciones") #{equipamiento.observaciones}
          - else
            textarea(name="observaciones", readonly='readonly') #{equipamiento.observaciones}

      li
        .element
          - if (edit)
            button(class="submit", id="edit") Enviar
