- var edit = false
article#taller
  input(type="hidden", id="taller_id", value="#{taller._id}")
  header
    .header-content
      label Equipamiento
      a.nombre(href='/equipamientos/#{equipamiento._id}') #{equipamiento.nombre}
      label Taller
      p.nombre #{taller.nombre}
      label Fecha
      - var regex = new RegExp("^.{3}\\s");
      p.nombre #{taller.fecha.toDateString().replace(regex, '')}

  .list_header
    ul
      li
        a#tab-participantes(href="/taller/#{taller._id}", class='#{articulo == 'Taller' ? "activo" : null }') 
          | Evaluaci&oacute;n Participantes
          span.mask
      li
        a#tab-seguimiento(href="/taller/#{taller._id}/evaltaller", class='#{articulo == 'FormEvalTaller' ? "activo" : null }') 
          | Evaluaci&oacute;n Taller 
          span.mask
      li
        a#tab-fotos(href="#", class='#{articulo == 'Fotos' ? "activo" : null }') 
          | Fotos / Videos
          span.mask

  .list_body
    form
      ul
        li
          .element
            label Resultados generales:
            textarea(name='resultados_generales') #{taller.resultados}
          
        li
          .element
            label Autoevaluación creativo:
            textarea(name='autoeval_creativo') #{taller.autoeval_creativo}
            
        li
          .element
            label Observaciones externas:
            textarea(name='observ_externas') #{taller.observ_externas}

        li
          .element
            button(class="submit") Enviar

