article#participante
  input(type="hidden", id="equipamiento_id", value="#{equipamiento._id}")
  header
    .header-content
      label Equipamiento
      p.nombre #{equipamiento.nombre}

  .list_header
    ul
      li
        a#tab-talleres(href="/equipamientos/#{equipamiento._id}", class='#{articulo == 'Taller' ? "activo" : null }')
          | Talleres
          span.mask
      li
        a#tab-participantes(href="/equipamientos/#{equipamiento._id}/participantes", class='#{articulo == 'Participantes' ? "activo" : null }')
          | Participantes
          span.mask
      li
        a#tab-agregar-participante.last(class='#{articulo == 'FormParticipante' ? "activo" : null }')
          | Agregar Participante
          span.mask
      li
        a#tab-general(href="/equipamientos/#{equipamiento._id}/general", class='#{articulo == 'General' ? "activo" : null }')
          | General
          span.mask

    !=partial('forms/participante', { participante: {}, equipamiento: equipamiento, params: params, edit: false })