- var edit = false
article#taller
  input(type="hidden", id="taller_id", value=#{taller._id})
  header
    .header-content
      label Equipamiento
      a.nombre(href='/equipamientos/#{equipamiento._id}') #{equipamiento.nombre}
      label Taller
      p.nombre #{taller.nombre}
      label Fecha
      - var regex = new RegExp("^.{3}\\s");
      p.nombre #{taller.fecha.toDateString().replace(regex, '')}


  .list_header
    ul
      li
        a#tab-participantes(href="/taller/#{taller._id}", class='#{articulo == 'Taller' ? "activo" : null }') 
          | Asistencia Participantes
          span.mask
      li
        a#tab-seguimiento(href="/taller/#{taller._id}/evaltaller", class='#{articulo == 'Seguimiento' ? "activo" : null }') 
          | Evaluaci&oacute;n Taller 
          span.mask
      li
        a#tab-fotos(href="/taller/#{taller._id}/media", class='#{articulo == 'TallerMedia' ? "activo" : null }') 
          | Fotos / Videos
          span.mask

  .list_body
    ul
      !=partial('partials/lista_participantes_evaluacion',{participantes: participantes})



