- var edit = false
article#taller
  input(type="hidden", id="taller_id", value=#{taller._id})
  header
    .header-content
      label Equipamiento
      p.nombre #{taller.equipamiento.nombre}
      label Taller
      p.nombre #{taller.nombre}
      label Fecha
      p.nombre #{taller.fecha}

  .list_header
    ul
      li
        a#tab-participantes(href="/talleres/#{taller._id}", class='#{articulo == 'Participantes' ? "activo" : null }') 
          | Participantes
          span.mask
      li
        //a#tab-fotos(href="/talleres/#{taller._id}/fotos", class='#{articulo == 'Fotos' ? "activo" : null }') 
        a#tab-fotos(href="#", class='#{articulo == 'Fotos' ? "activo" : null }') 
          | Fotos / Videos
          span.mask
      li
        //a#tab-seguimiento(href="/talleres/#{taller._id}/seguimiento", class='#{articulo == 'Seguimiento' ? "activo" : null }') 
        a#tab-seguimiento(href="#", class='#{articulo == 'Seguimiento' ? "activo" : null }') 
          | Seguimiento
          span.mask

  .list_body
    ul
      !=partial('partials/lista_participantes_evaluacion',{participantes: participantes})



