// I will fix this name later
article#taller.nobase
  input#taller_id(type='hidden', value='#{taller.id}')

  .list_header
    a.activo#listar(href="/talleres", class='#{articulo == "Talleres" ? "activo" : null }')
      | #{taller_base.nombre}
      span.mask
    a#crear(href='/talleres')
      | Talleres
      span.mask

  .content
    form
      ul
        li
          .element
            label Nombre actividad: 
            input(name="nombre", type="text", value='#{taller_base.nombre}', readonly='readonly')

        li
          .element
            label Descripción: 
            textarea(name="desc", readonly='readonly') #{taller_base.descripcion}

        li
          .element
            label Equipamiento:
            input(type='text', value='#{taller.equipamiento_nombre}', readonly='readonly')
        li
          .element
            label Fecha:
            input#fecha(type='text', value='#{taller.fecha.toDateString()}', readonly='readonly')

      ul(style='display:none;')
        li
          .element
            label Resultados generales: 
            textarea(name = "resultados")

        li
          .element
            label Autoevaluación del creativo: 
            textarea(name = "autoeval_creativo")

        li
          .element
            label Observaciones externas: 
            textarea(name = "observ_externas")

        li
          .element
            label Fotos:

        li
          .element
            label Videos:
