// I will fix this name later
article#taller.base
  input#tallerbase_id(type='hidden', value='#{taller_base.id}')

  .list_header
    a.activo#listar(href="/talleres", class='#{articulo == "TallerBase" ? "activo" : null }')
      | #{taller_base.nombre}
      span.mask
    a#crear(href='/talleres')
      | Talleres
      span.mask

  .content
    form
      ul
        li
          .element
            label Nombre actividad: 
            input(name="nombre", type="text", value='#{taller_base.nombre}', readonly='readonly')

        li
          .element
            label Descripción: 
            textarea(name="desc", readonly='readonly') #{taller_base.descripcion}

        li
          .element
            label Objetivos:
            textarea(name="objetivos", readonly='readonly') #{taller_base.objetivos}

        li
          .element_checkbox_label
            label Metodolog&iacute;a:
            .options
              -var i = 0
              each metod in params.metodologias
                - if (taller_base.metodologias.indexOf(metod) > -1 ) {
                  .option(class='#{i%3 == 0 ? "row" : "" }')
                    input(name="metodologias[]", type="checkbox", disabled='disabled', value="#{metod}", checked='checked')
                - } else {
                  .option(class='#{i%3 == 0 ? "row" : "" }')
                    input(name="metodologias[]", type="checkbox", disabled='disabled', value="#{metod}")
                  
                -}
                    label.radio_text #{metod}
                -i++
 
        li
          .element_checkbox_label
            label Habilidades:
            .options
              -var i = 0
              each habilidad in params.habilidades
                 - if (taller_base.habilidades.indexOf(habilidad) > -1) {
                  .option(class='#{i%3 == 0 ? "row" : "" }')
                    input(name="habilidades[]", type="checkbox",disabled='disabled', value="#{habilidad}", checked='checked')
                 - } else {
                  .option(class='#{i%3 == 0 ? "row" : "" }')
                    input(name="habilidades[]", type="checkbox",disabled='disabled', value="#{habilidad}")
                 - }
                    label.radio_text #{habilidad}
                 -i++
