-var edit = true
article#participante
  header
    .header-content
      label Equipamiento
      p.nombre #{equipamiento.nombre}

  .list_header
    ul
      li
        a#tab-participante.first(href="/participantes/#{participante._id}", class='#{articulo == 'EditarParticipante' ? "activo" : null }')
          | #{participante.nombre}
          span.mask
      li
        a#tab-todos-participantes.last(href="/equipamientos/"+equipamiento._id+'/participantes', class='#{articulo == 'Participantes' ? "activo" : null }')
          | Volver a Participantes
          span.mask

  .list_body
    !=partial('forms/participante', { participante: participante, equipamiento: equipamiento, params: params, edit: true })