- var edit = false
article#equipamiento
  input(type="hidden", id="equipamiento_id", value="#{equipamiento._id}")
  header
    .header-content
      label Equipamiento
      p.nombre #{equipamiento.nombre}

  .list_header
    ul
      li
        a#tab-talleres(href="/equipamientos/#{equipamiento._id}", class='#{articulo == 'Taller' ? "activo" : null }') 
          | Talleres
          span.mask
      li
        a#tab-participantes(href="/equipamientos/#{equipamiento._id}/participantes", class='#{articulo == 'Participantes' ? "activo" : null }') 
          | Participantes
          span.mask
      li
        a#tab-agregar-participante.last(href="/equipamientos/#{equipamiento._id}/participantes/new", class='#{articulo == 'Editar' ? "activo" : null }') 
          | Agregar Participante 
          span.mask
      li
        a#tab-general(href="/equipamientos/#{equipamiento._id}/general", class='#{articulo == 'General' ? "activo" : null }') 
          | General
          span.mask

    .list_body
      ul.participantes
        each participante in participantes
          li
            .participante_item(id='#{participante._id}')
              .participante_image
                -if (!participante.foto)
                  img(src='/images/Anonymous.gif', width='50')
                -else
                  -var foto_thumb = 'https://s3.amazonaws.com/red-artes-visuales/participantes/50-'+participante.foto
                  img(src='#{foto_thumb}', width='50')
              .participante_info_short
                a(href='/participantes/'+participante._id).participante_nombre #{participante.nombre}
                .participante_edad #{participante.edad}
