- var edit = false
article#equipamiento
  .list_header
    a#listar(href="/equipamientos", class='#{articulo == 'Equipamientos' ? "activo" : null }') 
      | Equipamientos
      span.mask
    a#crear(href="/equipamientos/new", class='#{articulo == 'FormEquipamiento' ? "activo" : null }') 
      | Crear equipamiento 
      span.mask

  form
    ul
      li
        -if(edit)
          .element
            label Nombre:
            select(name="nombre")
              each equip in params.equipamientos
                - var select=null
                // - if (equip == model.nombre) select='selected';
                option(value='#{equip}', selected='#{select}') #{equip}
        -else
          .element
            label Nombre:
            input(name="nombre", type="text")

      li
        .element
          label Ubicación:
          input(name="ubiFacion", type="text")

      li
        .element
          label Comuna:
          select(name="comuna")
            each comuna in params.comunas
              - var select=null; 
              // - if (comuna == model.comuna) select='selected';
              option(value='#{comuna}', selected='#{select}') #{comuna}

      li
        .element
          label Barrio:
          select(name="barrio")
            each barrio in params.barrios
              - var select=null; 
              // - if (barrio == model.barrio) select='selected';
              option(value='#{barrio}', selected='#{select}') #{barrio}

      li
        .element
          label Contacto:
          input(name="contacto", id="contacto", type="text" )

      li
        .element
          label Email:
          input(name="email", id="email", type="text" )

      li
        .element
          label Telefono:
          input(name="telefono", id="telefono", type="text" )

      li
        .element
          label Experiencia:
          input(name="experiencia", type="radio", value="Si" )
          label.radio_sino Si
          input(name="experiencia", type="radio", value="No" )
          label.radio_sino No

      li
        .element_checkbox_label
          label Otros Talleres:
          .element_checkbox
            each otro in params.otros_talleres
              - var select=null; 
              // - if (otro == model.otros_talleres) select='selected';
              input(name="otros",type="checkbox",value="#{otro}",selected='#{select}') 
              label.radio_text #{otro} 

      li
        .element
          label Tipo:
          select(name="tipo")
            each tipo in params.tipos
              - var select=null; 
              // - if (otro == model.tipo) select='selected';
              option(value='#{tipo}', selected='#{select}') #{tipo}

      li
        .element_checkbox_label
          label Espacios disponibles:
          .element_checkbox
            each espacio in params.espacios
              - var select=null; 
              // - if (espacio == model.espacio) select='selected';
              input(name="espacios",type="checkbox",value="#{espacio}",selected='#{select}') 
              label.radio_text #{espacio} 

      li
        .element
          label Tienen locker?:
          input(name="locker", id="locker", type="radio", value="Si")
          label.radio_sino Si
          input(name="locker", id="locker", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label Baños cerca?:
          input(name="banos", type="radio", value="Si")
          label.radio_sino Si
          input(name="banos", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label Equipos electrónicos disponibles:
          input(name='e_equipos', type='text' )

      li
        .element
          label Horario:
          input(name="horario", type="text" )

      li
        .element_checkbox_label
          label Edades:
          .element_checkbox
            each edad in params.edades
              - var select=null; 
              // - if (edad == model.edad) select='selected';
              input(name="edades",type="checkbox",value="#{edad}",selected='#{select}') 
              label.radio_text #{edad} 

      li
        .element
          label Seguridad:
          input(name="seguridad", type="radio", value="Alta")
          label.radio_text Alta 
          input(name="seguridad", type="radio", value="Media")
          label.radio_text Media
          input(name="seguridad", type="radio", value="Baja")
          label.radio_text Baja 
    
      li
        .element
          label Fronteras invisibles:
          input(name="fronteras", type="radio", value="Si")
          label.radio_sino Si
          input(name="fronteras", type="radio", value="No")
          label.radio_sino No
      
      li
        .element
          label Zona:
          input(name="zona", type="radio", value="Urbana")
          label.radio_text Urbana 
          input(name="zona", type="radio", value="Rural")
          label.radio_text Rural
      
      li
        .element
          label Como llegar?:
          textarea(name="como_llegar")

      li
        .element
          label Web:
          input(name="web", type="text" )
      
      li
        .element
          label Facebook:
          input(name="fb", type="text" )
      
      li
        .element
          label Twitter:
          input(name="twitter", type="text", value="@" )
      
      li
        .element
          label Blog:
          input(name="blog", type="text" )
  
      li
        .element
          label Newsletter?:
          input(name="newsletter", type="radio", value="Si")
          label.radio_sino Si
          input(name="newsletter", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label Cartelera?:
          input(name="cartelera", type="radio", value="Si")
          label.radio_sino Si
          input(name="cartelera", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label Telefono Info?:
          input(name="telefono_info", type="radio", value="Si")
          label.radio_sino Si
          input(name="telefono_info", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label Perifonía?:
          input(name="perifonia", type="radio", value="Si")
          label.radio_sino Si
          input(name="perifonia", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label Boletín?:
          input(name="boletin", type="radio", value="Si")
          label.radio_sino Si
          input(name="boletin", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label Medios comunitarios?:
          input(name="medios_comun", type="radio", value="Si")
          label.radio_sino Si
          input(name="medios_comun", type="radio", value="No")
          label.radio_sino No

      li
        .element
          label E-mailing?:
          input(name="emailing", type="radio", value="Si")
          label.radio_sino Si
          input(name="emailing", type="radio", value="No")
          label.radio_sino No

      li
        .element
          button OK
