-var equipamientos = ["Casa Tres Patios","EscuelaX", 'TallerZ','ImaginaLab'];
-var comunas = ['Aranjuez','Belén','Buenos Aires','Castilla','Doce de Octubre','El Poblado','Guayabal','La América','La Candelaria','Laureles','Manrique','Popular','Robledo','San Javier','Santa Cruz', 'Villa Hermosa'];
-var barrios = ['Conquistadores','Colores','Laureles','Robledo'];
-var otros_talleres =  ['Pintura', 'Dibujo', 'Escultura', 'Fotografia', 'Danza', 'Teatro', 'Música', 'Otros'];
-var tipos = ['Escuela', 'Centro Comunitario', 'Público', 'Privado', 'Biblioteca', 'Parque Biblioteca', 'Casa de la Cultura', 'Otro'];
-var espacios = ['Aulas de clase', 'Espacios Multi-propósitos', 'Otros'];
-var edades = ['7-8', '9-10', '11-12', '13-14', '15-16'];

#wrapper
  form#equipamiento
    h1 Registro Equipamiento
    
    .element
      label Nombre:
      select(name="nombre")
        each equip in equipamientos
          - var select=null; 
          // - if (equip == model.nombre) select='selected';
          option(value=#{equip}, selected=#{select}) #{equip}
  
    .element
      label Ubicación:
      input(name="ubicacion", id="ubicacion", type="text")

    .element
      label Comuna:
      select(name="comuna")
        each comuna in comunas
          - var select=null; 
          // - if (comuna == model.comuna) select='selected';
          option(value=#{comuna}, selected=#{select}) #{comuna}

    .element
      label Barrio:
      select(name="barrio")
        each barrio in barrios
          - var select=null; 
          // - if (barrio == model.barrio) select='selected';
          option(value=#{barrio}, selected=#{select}) #{barrio}

    .element
      label Contacto:
      input(name="contacto", id="contacto", type="text" )

    .element
      label Email:
      input(name="email", id="email", type="text" )

    .element
      label Telefono:
      input(name="telefono", id="telefono", type="text" )

    .element
      label Experiencia:
      input.radio(name="experiencia", id="experiencia", type="radio", value="Si", checked="checked" ) 
      | Si
      input.radio(name="experiencia", id="experiencia", type="radio", value="No" ) 
      | No

    .element
      label Otros Talleres:
      select(name="otros_talleres", multiple="multiple")
        each otro in otros_talleres
          - var select=null; 
          // - if (otro == model.otros_talleres) select='selected';
          option(value=#{otro}, selected=#{select}) #{otro}

    .element
      label Tipo:
      select(name="tipo")
        each tipo in tipos
          - var select=null; 
          // - if (otro == model.tipo) select='selected';
          option(value=#{tipo}, selected=#{select}) #{tipo}


    .element
      label Espacios disponibles:
      select(name="espacios", multiple="multiple")
        each espacio in espacios
          - var select=null; 
          // - if (espacio == model.espacio) select='selected';
          option(value=#{espacio}, selected=#{select}) #{espacio}

    .element
      label Tienen locker?:
      input.radio(name="locker", id="locker", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="locker", id="locker", type="radio", value="No")
      |No

    .element
      label Baños cerca?:
      input.radio(name="locker", id="locker", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="locker", id="locker", type="radio", value="No")
      |No
      
    .element
      label Equipos electrónicos disponibles:
      input(name="e_equipos", id="e_equipos", type="text" )

    .element
      label Horario:
      input(name="horarios", id="horarios", type="text" )

    .element
      label Edades:
      select(name="edades", multiple="multiple")
        each edad in edades
          - var select=null; 
          // - if (edad == model.edad) select='selected';
          option(value=#{edad}, selected=#{select}) #{edad}
      
    .element
      label Seguridad:
      input.radio(name="locker", id="locker", type="radio", value="Alta", checked="checked")
      |Alta
      input.radio(name="locker", id="locker", type="radio", value="Media")
      |Media
      input.radio(name="locker", id="locker", type="radio", value="Baja")
      |Baja
 
    .element
      label Fronteras invisibles:
      input.radio(name="fronteras", id="fronteras", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="fronteras", id="fronteras", type="radio", value="No")
      |No
      
    .element
      label Zona:
      input.radio(name="zona", id="zona", type="radio", value="Urban", checked="checked")
      |Urban
      input.radio(name="zona", id="zona", type="radio", value="Rural")
      |Rural
      
    .element
      label Como llegar?:
      textarea(name="como_llegar")
      
    .element
      label Web:
      input.radio(name="web", id="web", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="web", id="web", type="radio", value="No")
      |No
      
    .element
      label Facebook:
      input.radio(name="fb", id="fb", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="fb", id="fb", type="radio", value="No")
      |No
      
    .element
      label Twitter:
      input.radio(name="twitter", id="twitter", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="twitter", id="twitter", type="radio", value="No")
      |No
      
    .element
      label Blog:
      input.radio(name="blog", id="blog", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="blog", id="blog", type="radio", value="No")
      |No
  
    .element
      label Newsletter?:
      input.radio(name="newsletter", id="newsletter", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="newsletter", id="newsletter", type="radio", value="No")
      |No

    .element
      label Cartelera?:
      input.radio(name="cartelera", id="cartelera", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="cartelera", id="cartelera", type="radio", value="No")
      |No

    .element
      label Telefono Info?:
      input.radio(name="tel_info", id="tel_info", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="tel_info", id="tel_info", type="radio", value="No")
      |No

    .element
      label Perifonía?:
      input.radio(name="perifonia", id="perifonia", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="perifonia", id="perifonia", type="radio", value="No")
      |No

    .element
      label Boletín?:
      input.radio(name="boletin", id="boletin", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="boletin", id="boletin", type="radio", value="No")
      |No

    .element
      label Medios comunitarios?:
      input.radio(name="comun_media", id="comun_media", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="comun_media", id="comun_media", type="radio", value="No")
      |No

    .element
      label E-mailing?:
      input.radio(name="emailing", id="emailing", type="radio", value="Si", checked="checked")
      |Si
      input.radio(name="emailing", id="emaling", type="radio", value="No")
      |No

    .element
      input(id = "submit", name="submit", type = "submit", value="Envia")
