- var habilidades = evaluacion ? evaluacion.habilidades : params.habilidades
article#evaluacion 
  header
    .header-content
      label Equipamiento
      p.nombre #{taller.equipamiento_nombre}
      label Taller
      p.nombre #{taller.nombre}
      label Fecha
      p.nombre #{taller.fecha}
      label Participante
      p.nombre #{participante.nombre}
      label Evaluación
      p.nombre por #{creativo.nombre}
      
    
  .list_header
    ul
      li
        a(href="/evaluacion/new", class='#{articulo == "FormEvaluacion" ? "activo" : null}')
          | #{participante.nombre}
          span.mask

  form       
    input(type="hidden", id="taller_id", name="taller_id", value="#{taller._id}")
    input(type="hidden", id="creativo_id", name="creativo_id", value="#{creativo._id}")
    input(type="hidden", id="fecha", name="fecha", value="#{taller.fecha}")
    input(type="hidden", id="p_id", name="p_id", value="#{participante._id}")

    .evaluaciones
      .eval_header
        p Bajo
        p &nbsp;
        p Medio
        p &nbsp;
        p Alto
 
      .evaluacion_group
        label.group_label Actitudes artisticas
        ul
          li
            .evaluacion
              label Sensibilidad
              - var valor = evaluacion ? evaluacion.sensibilidad : 0
              -if (valor == '1') 
                input(name="sensibilidad", value="1", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="sensibilidad", value="1", type="radio", disabled='disabled') 
              -else
                input(name="sensibilidad", value="1", type="radio") 
              label.radio_eval
              -if (valor == '2') 
                input(name="sensibilidad", value="2", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="sensibilidad", value="2", type="radio", disabled='disabled') 
              -else
                input(name="sensibilidad", value="2", type="radio") 
              label.radio_eval
              -if (valor == '3') 
                input(name="sensibilidad", value="3", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="sensibilidad", value="3", type="radio", disabled='disabled') 
              -else
                input(name="sensibilidad", value="3", type="radio") 
              label.radio_eval
              -if (valor == '4') 
                input(name="sensibilidad", value="4", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="sensibilidad", value="4", type="radio", disabled='disabled') 
              -else
                input(name="sensibilidad", value="4", type="radio") 
              label.radio_eval
              -if (valor == '5') 
                input(name="sensibilidad", value="5", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="sensibilidad", value="5", type="radio", disabled='disabled') 
              -else
                input(name="sensibilidad", value="5", type="radio") 
              label.radio_eval
          li
            .evaluacion
              label Comunicación
              - var valor = evaluacion ? evaluacion.comunicacion : 0
              -if (valor == '1') 
                input(name="comunicacion", value="1", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="comunicacion", value="1", type="radio", disabled='disabled') 
              -else
                input(name="comunicacion", value="1", type="radio") 
              label.radio_eval
              -if (valor == '2') 
                input(name="comunicacion", value="2", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="comunicacion", value="2", type="radio", disabled='disabled') 
              -else
                input(name="comunicacion", value="2", type="radio") 
              label.radio_eval
              -if (valor == '3') 
                input(name="comunicacion", value="3", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="comunicacion", value="3", type="radio", disabled='disabled') 
              -else
                input(name="comunicacion", value="3", type="radio") 
              label.radio_eval
              -if (valor == '4') 
                input(name="comunicacion", value="4", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="comunicacion", value="4", type="radio", disabled='disabled') 
              -else
                input(name="comunicacion", value="4", type="radio") 
              label.radio_eval
              -if (valor == '5') 
                input(name="comunicacion", value="5", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="comunicacion", value="5", type="radio", disabled='disabled') 
              -else
                input(name="comunicacion", value="5", type="radio") 
              label.radio_eval
          li
            .evaluacion
              label Apreciación estetica
              - var valor = evaluacion ? evaluacion.apreciacion : 0
              -if (valor == '1') 
                input(name="apreciacion", value="1", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="apreciacion", value="1", type="radio", disabled='disabled') 
              -else
                input(name="apreciacion", value="1", type="radio") 
              label.radio_eval
              -if (valor == '2') 
                input(name="apreciacion", value="2", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="apreciacion", value="2", type="radio", disabled='disabled') 
              -else
                input(name="apreciacion", value="2", type="radio") 
              label.radio_eval
              -if (valor == '3') 
                input(name="apreciacion", value="3", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="apreciacion", value="3", type="radio", disabled='disabled') 
              -else
                input(name="apreciacion", value="3", type="radio") 
              label.radio_eval
              -if (valor == '4') 
                input(name="apreciacion", value="4", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="apreciacion", value="4", type="radio", disabled='disabled') 
              -else
                input(name="apreciacion", value="4", type="radio") 
              label.radio_eval
              -if (valor == '5') 
                input(name="apreciacion", value="5", type="radio", checked='checked', disabled='disabled') 
              -else if(evaluacion)
                input(name="apreciacion", value="5", type="radio", disabled='disabled') 
              -else
                input(name="apreciacion", value="5", type="radio") 
              label.radio_eval
 
      .evaluacion_group
        label.group_label Habilidades 
        ul
          each habilidad, i in habilidades
            - var valor = evaluacion ? evaluacion.valores[i] : 0
            li
              .evaluacion
                label #{habilidad}
                -if (valor == '1') 
                  input(name="i_#{habilidad}", value="1", type="radio", checked='checked', disabled='disabled') 
                -else if(evaluacion)
                  input(name="i_#{habilidad}", value="1", type="radio", disabled='disabled') 
                -else
                  input(name="i_#{habilidad}", value="1", type="radio") 
                label.radio_eval
                -if (valor == '2') 
                  input(name="i_#{habilidad}", value="2", type="radio", checked='checked', disabled='disabled') 
                -else if(evaluacion)
                  input(name="i_#{habilidad}", value="2", type="radio", disabled='disabled') 
                -else
                  input(name="i_#{habilidad}", value="2", type="radio") 
                label.radio_eval
                -if (valor == '3') 
                  input(name="i_#{habilidad}", value="3", type="radio", checked='checked', disabled='disabled') 
                -else if(evaluacion)
                  input(name="i_#{habilidad}", value="3", type="radio", disabled='disabled') 
                -else
                  input(name="i_#{habilidad}", value="3", type="radio") 
                label.radio_eval
                -if (valor == '4') 
                  input(name="i_#{habilidad}", value="4", type="radio", checked='checked', disabled='disabled') 
                -else if(evaluacion)
                  input(name="i_#{habilidad}", value="4", type="radio", disabled='disabled') 
                -else
                  input(name="i_#{habilidad}", value="4", type="radio") 
                label.radio_eval
                -if (valor == '5') 
                  input(name="i_#{habilidad}", value="5", type="radio", checked='checked', disabled='disabled') 
                -else if(evaluacion)
                  input(name="i_#{habilidad}", value="5", type="radio", disabled='disabled') 
                -else
                  input(name="i_#{habilidad}", value="5", type="radio") 
                label.radio_eval


        ul
          li
            .evaluacion
              label Observaciones
              -if (evaluacion)
                textarea(name="observaciones") #{evaluacion.observaciones} 
              -else
                textarea(name="observaciones")
 
        ul
          li
            -if(!evaluacion)
              button(class="submit") Envia
