article#evaluacion 
  .list_header
    a#listar(href="/evaluaciones", class='#{articulo == "Evaluaciones" ? "activo" : null}')
      | Evaluaciones
      span.mask
    a#crear(href="/evaluacion/new", class='#{articulo == "FormEvaluacion" ? "activo" : null}')
      | Crear Evaluación
      span.mask

  .list_body
    form(action="/evaluaciones",method="post")
      .info
        h1 Evaluación 
        p por #{creativo.nombre}
          input(type="hidden", name="creativo_id", value ="#{creativo._id}")
        .taller_name #{taller_base.nombre}
        .taller_fecha #{taller.fecha}
          input(type="hidden", name="taller_id", value ="#{taller._id}")
        .participante_name #{participante.nombre}
          input(type="hidden", name="p_id", value ="#{participante._id}")

      .evaluaciones
        .eval_header
          p Bajo
          p &nbsp;
          p Medio
          p &nbsp;
          p Alto
 
        ul
          each habilidad in params.habilidades
            li
              .evaluacion
                label #{habilidad}
                input(name="i_#{habilidad}", value="1", type="radio") 
                label.radio_eval
                input(name="i_#{habilidad}", value="2", type="radio")
                label.radio_eval
                input(name="i_#{habilidad}", value="3", type="radio") 
                label.radio_eval
                input(name="i_#{habilidad}", value="4", type="radio")
                label.radio_eval
                input(name="i_#{habilidad}", value="5", type="radio") 
                label.radio_eval
 
        button(id="submit") Envia
