form#edit_participante
  input(type="hidden", id="equip_id", name="equip_id", value="#{equipamiento._id}")
  input(type="hidden", id="participante_id",name="participante_id", value="#{participante._id}")
  ul
    -if(edit)
      li
        .element.foto
          label Foto:
          .foto
            -if(participante.foto)
              -var foto_thumb = 'https://s3.amazonaws.com/red-artes-visuales/participantes/100-'+participante.foto
            -else
              -var foto_thumb = '/images/Anonymous.gif'
            img(src="#{foto_thumb}", width="100")
            span.add
              button.css3button.blue-1#upload-btn Subir Foto
              input#upload(type="file")
        .image-upload(style='display:none;')
          p.cancel-info(style='display:none;') Se cancel&oacute; la transferencia
            .control
              p Subiendo
                span.index  0
                span /
                span.total 0
              a.cancel(href='#') Cancelar
              span &nbsp;&nbsp;|&nbsp;
              a.skip(href='#') Omitir
            .meter
              span(style='width: 25%')


    li
      .element
        label Nombre completo:
        -if (edit)
          input(name="nombre",id="nombre", type="text", value="#{participante.nombre}")
        -else
          input(name="nombre",id="nombre", type="text")

    li
      .element.documento
        label Documento:
        select(name="tipo_doc")
          option(value='', selected='selected') -- Tipo Doc --
          each tipo in params.tipos_documento
            - if (tipo == participante.tipo_documento)
              option(value='#{tipo}', selected='selected') #{tipo}
            - else
              option(value='#{tipo}') #{tipo}
        -if (edit)
          input(name="documento", type="text", value="#{participante.documento||''}")
        -else
          input(name="documento", type="text")
        

    
    li
      .element
        label Edad:
        select(name="edad")
          option(value='', selected='selected') -- Seleccionar Edad --
          each edad in params.edades
            - if (edad == participante.edad)
              option(value='#{edad}', selected='selected') #{edad}
            - else
              option(value='#{edad}') #{edad}

    li
      .element
        label Grado:
        select(name="grado")
          option(value='', selected='selected') -- Seleccionar Grado --
          each grado in params.grados
            - if (grado == participante.grado)
              option(value='#{grado}', selected='selected') #{grado}
            - else
              option(value='#{grado}') #{grado}

    li
      .element
        label Comuna:
        select(name="comuna")
          option(value='', selected='selected') -- Seleccionar Comuna --
          each comuna in params.comunas
            - if (comuna == participante.comuna)
              option(value='#{comuna}', selected='selected') #{comuna}
            - else
              option(value='#{comuna}') #{comuna}
    
    li
      .element
        label Barrio:
        select(name="barrio")
          option(value='', selected='selected') -- Seleccionar Barrio --
          each barrio in params.barrios
            - if (barrio == participante.barrio)
              option(value='#{barrio}', selected='selected') #{barrio}
            - else
              option(value='#{barrio}') #{barrio}    
    li
      .element
        label Direcci&oacute;n:
        -if (edit)
          input(name="direccion", type="text", value="#{participante.direccion||''}")
        -else
          input(name="direccion", type="text")

    li
      .element
        label Tel&eacute;fono:
        -if (edit)
          input(name="telefono", type="text", value="#{participante.telefono||''}")
        -else
          input(name="telefono", type="text")

    li
      .element
        label Estrato:
        select(name="estrato")
          option(value='', selected='selected') -- Seleccionar Estrato --
          each estrato in params.estratos
            - if (estrato == participante.estrato)
              option(value='#{estrato}', selected='selected') #{estrato}
            - else
              option(value='#{estrato}') #{estrato}      
    li
      .element
        label Contacto:
        -if (edit)
          input(name="contacto", id="contacto", type="text", value="#{participante.contacto}")
        -else
          input(name="contacto", id="contacto", type="text")
    li
      .element
        label Situaci贸n familiar:
        select(name="situacion")
          option(value='', selected='selected') -- Seleccionar Situaci贸n Familiar --
          each familiar in params.familiaridades
            - if (familiar == participante.familiar)
              option(value='#{familiar}', selected='selected') #{familiar}
            - else
              option(value='#{familiar}') #{familiar}
    li
      .element
        label Poblaci贸n:
        select(name="poblacion")
          option(value='', selected='selected') -- Seleccionar Poblaci贸n --
          each poblacion in params.poblacional
            - if (poblacion == participante.poblacion)
              option(value='#{poblacion}', selected='selected') #{poblacion}
            - else
              option(value='#{poblacion}') #{poblacion}
    li
      .element
        label Nivel de estudios padres:
        select(name="padres")
          option(value='', selected='selected') -- Seleccionar Nivel de Estudios Padres de Familia --
          each p in params.padres
            - if (p == participante.padres)
              option(value='#{p}', selected='selected') #{p}
            - else
              option(value='#{p}') #{p}
    
    li
      .element
        label Observaciones:
        -if (edit)
         textarea(name="observaciones") #{participante.observaciones}
        -else
         textarea(name="observaciones")
        
    
    -if (edit)
      li
        .element
          button#save.css3button.blue-1 Actualizar
      li
        .element
          button#delete.css3button.red-1 Eliminar
    -else
      li
        .element
          button.submit Guardar
