article#participante
  input(type="hidden", id="equipamiento_id", value="#{equipamiento._id}")
  header
    .header-content
      label Equipamiento
      p.nombre #{equipamiento.nombre}

  .list_header
    ul
      li
        a#tab-talleres(href="/equipamientos/#{equipamiento._id}", class='#{articulo == 'Taller' ? "activo" : null }')
          | Talleres
          span.mask
      li
        a.activo#tab-participantes(href="/equipamientos/#{equipamiento._id}/participantes", class='#{articulo == 'Participantes' ? "activo" : null }')
          | Participantes
          span.mask
      li
        a#tab-nuevo_part(href="#", class='#{articulo == 'FormParticipante' ? "activo" : null }')
          | Crear 
          span.mask
      li
        a#tab-general(href="/equipamientos/#{equipamiento._id}/general", class='#{articulo == 'General' ? "activo" : null }')
          | General
          span.mask

    form
      input(type="hidden", id="equip_id",name="equip_id", value="#{equipamiento._id}")
      ul
        li
          .element
            label Nombre completo:      
            input(name="nombre",id="nombre", type="text")
 
        li
          .element
            label Fecha de nacimiento:
            input#fecha(type='text', name="fecha")
    
        li
          .element
            label Comuna:
            select(name="comuna")
              each comuna in params.comunas
                - var select=null; 
                //- if (comuna == model.comuna) select='selected';
                option(value='#{comuna}', selected='#{select}') #{comuna}
    
        li
          .element
            label Barrio:
            select(name="barrio")
              each barrio in params.barrios
                - var select=null; 
                //- if (barrio == model.barrio) select='selected';
                option(value='#{barrio}', selected='#{select}') #{barrio}
    
        li
          .element
            label Estrato:
            select(name="estrato")
              each estrato in params.estratos
                - var select=null; 
                //- if (estrato == model.estrato) select='selected';
                option(value='#{estrato}', selected='#{select}') #{estrato}
    
        li
          .element
            label Fotos:
    
        li
          .element
            label Videos:
    
        li
          .element
            label Contacto:
            input(name="contacto", id="contacto", type="text" )
    
        li
          .element
            label Situación familiar:
            select(name="situacion")
              each familiar in params.familiaridades
                - var select=null; 
                //- if (familiar == model.familiar) select='selected';
                option(value='#{familiar}', selected='#{select}') #{familiar}
    
        li
          .element
            label Población:
            select(name="poblacion")
              each poblacion in params.poblacional
                - var select=null; 
                //- if (poblacion == model.poblacion) select='selected';
                option(value='#{poblacion}', selected='#{select}') #{poblacion}
    
        li
          .element
            label Padres:
            select(name="padres")
              each p in params.padres
                - var select=null; 
                //- if (p == model.padres) select='selected';
                option(value='#{p}', selected='#{select}') #{p}
    
        li
          .element
            label Observaciones:
            textarea(name="observaciones")
    
        li
          .element
            button.submit Enviar


