article#taller
  .list_header
    a#listar(href="/talleres", class='#{articulo == 'Talleres' ? "activo" : null }') 
      | Talleres
      span.mask
    a#crear(href="/talleres/new", class='#{articulo == 'FormTaller' ? "activo" : null }') 
      | Crear Taller 
      span.mask

  form
    ul
      li
        .element
          label Nombre actividad: 
          input(name="nombre", type = "text")

      li
        .element
          label Descripci&oacute;n: 
          textarea(name="descripcion")

      li
        .element
          label Objetivos: 
          textarea(name="objetivos")

      li
        .element_checkbox_label
          label Metodolog&iacute;a: 
          .options
            -var i = 0
            each metod in params.metodologias 
              - var select = null
              // - if (metod == model.metodologias) select = 'selected';
              .option(class='#{i%3 == 0 ? "row" : "" }')
                input(name="metodologia[]", type="checkbox", value="#{metod}", selected='#{select}')
                label.radio_text #{metod}
              -i++

      li
        .element_checkbox_label
          label Habilidades: 
          .options
            -var i = 0
            each habilidad in params.habilidades 
              - var select = null; 
              // - if (habilidad == model.habilidades) select = 'selected';
              .option(class='#{i%3 == 0 ? "row" : "" }')
                input(name="habilidad",type="checkbox",value="#{habilidad}",selected='#{select}')
                label.radio_text #{habilidad}
              -i++

      li
        .element
          button OK
