article#taller
  form
    ul
      li
        .element
          label Nombre actividad: 
          input(name="nombre", type="text")

      li
        .element
          label Descripción: 
          textarea(name = "desc")

      li
        .element
          label Objetivos: 
          textarea(name = "objetivos")

      li
        .element_checkbox_label
          label Metodologia: 
          .element_checkbox 
            each metod in params.metodologias 
              - var select = null; 
              // - if (metod == model.metodologias) select = 'selected';
              input(name="metod",type="checkbox",value="#{metod}",selected='#{select}')
              label.radio_text #{metod}


      li
        .element_checkbox_label
          label Habilidades: 
          .element_checkbox 
            each habilidad in params.habilidades 
              - var select = null; 
              // - if (habilidad == model.habilidades) select = 'selected';
              input(name="habilidad",type="checkbox",value="#{habilidad}",selected='#{select}')
              label.radio_text #{habilidad}

      li
        .element
          label Resultados generales: 
          textarea(name = "resultados")

      li
        .element
          label Autoevaluación del creativo: 
          textarea(name = "autoeval_creativo")

      li
        .element
          label Observaciones externas: 
          textarea(name = "observ_externas")

      li
        .element
          label Fotos:

      li
        .element
          label Videos:

      li
        .element
          input(id = "submit", name="submit", type = "submit",value="Envia")
