article#taller
  form
    ul
      li
        .element
          label Nombre actividad: 
          input(name="nombre", type="text")

      li
        .element
          label Descripción: 
          textarea(name = "desc")

      li
        .element
          label Objetivos: 
          textarea(name = "objetivos")

      li
        .element
          label Metodologia: 
          select(name = "metodologias", multiple = "multiple")
            each metod in params.metodologias 
              - var select = null; 
              // - if (metod == model.metodologias) select = 'selected';
              option(value = #{metod}, selected = #{select}) #{metod}

      li
        .element
          label Habilidades: 
          select(name = "habilidades", multiple = "multiple")
            each habilidad in params.habilidades 
              - var select = null; 
              // - if (habilidad == model.habilidades) select = 'selected';
              option(value = #{habilidad}, selected = #{select}) #{habilidad}

      li
        .element
          label Resultados generales: 
          textarea(name = "resultados")

      li
        .element
          label Autoevaluación del creativo: 
          textarea(name = "autoeval_creativo")

      li
        .element
          label Observaciones externas: 
          textarea(name = "observ_externas")

      li
        .element
          label Fotos:

      li
        .element
          label Videos:

      li
        .element
          input(id = "submit", name="submit", type = "submit",value="Envia")