article#taller
  .list_header
    a#listar(href="/talleres", class='#{articulo == 'Talleres' ? "activo" : null }') 
      | Talleres
      span.mask
    a#crear(href="/talleres/new", class='#{articulo == 'FormTaller' ? "activo" : null }') 
      | Crear Taller 
      span.mask

  form
    ul
      li
        .element
          label Nombre actividad: 
          input(name="nombre", type = "text")

      li
        .element
          label Descripción: 
          textarea(name="desc")

      li
        .element
          label Objetivos: 
          textarea(name="objetivos")

      li
        .element_checkbox_label
          label Metodologia: 
          .element_checkbox
            each metod in params.metodologias 
              - var select = null; 
              // - if (metod == model.metodologias) select = 'selected';
              input(name="metod",type="checkbox",value="#{metod}",selected='#{select}')
              label.radio_text #{metod}

      li
        .element_checkbox_label
          label Habilidades: 
          .element_checkbox
            each habilidad in params.habilidades 
              - var select = null; 
              // - if (habilidad == model.habilidades) select = 'selected';
              input(name="habilidad",type="checkbox",value="#{habilidad}",selected='#{select}')
              label.radio_text #{habilidad}

      li
        .element
          button OK
