article#taller
  .list_header
    a#listar(href="/talleres", class='#{articulo == 'Talleres' ? "activo" : null }') 
      | Talleres
      span.mask
    a#crear(href="/talleres/new", class='#{articulo == 'FormTaller' ? "activo" : null }') 
      | Crear Taller 
      span.mask

  form
    ul
      li
        .element
          label Nombre actividad: 
          input(name="nombre", type = "text")

      li
        .element
          label Descripción: 
          textarea(name="desc")

      li
        .element
          label Objetivos: 
          textarea(name="objetivos")

      li
        .element
          label Metodologia: 
          select(name = "metodologias", multiple = "multiple")
            each metod in params.metodologias 
              - var select = null; 
              // - if (metod == model.metodologias) select = 'selected';
              option(value = #{metod}, selected = #{select}) #{metod}

      li
        .element
          label Habilidades: 
          select(name = "habilidades", multiple = "multiple")
            each habilidad in params.habilidades 
              - var select = null; 
              // - if (habilidad == model.habilidades) select = 'selected';
              option(value = #{habilidad}, selected = #{select}) #{habilidad}

      li
        .element
          button OK