article#taller_base
  form
    h1 Taller  

    .element
      label Nombre actividad: 
      input(name="nombre", type = "text")

    .element
      label Descripción: 
      textarea(name="desc")

    .element
      label Objetivos: 
      textarea(name="objetivos")

    .element
      label Metodologia: 
      select(name = "metodologias", multiple = "multiple")
        each metod in params.metodologias 
          - var select = null; 
          // - if (metod == model.metodologias) select = 'selected';
          option(value = #{metod}, selected = #{select}) #{metod}

    .element
      label Habilidades: 
      select(name = "habilidades", multiple = "multiple")
        each habilidad in params.habilidades 
          - var select = null; 
          // - if (habilidad == model.habilidades) select = 'selected';
          option(value = #{habilidad}, selected = #{select}) #{habilidad}

    .element
      button OK


    .ejecucion
      h3 Equipamientos
      button(id="ejecuta_taller",value="Ejecutar taller")

    .lista_equipamientos
      ul.listado_ejecucion
        partial('partials/lista_taller_equip.jade')

    .lista_terminados
